@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.rotation {
  transform: matrix3d(
    0.5,
    0,
    -0.5,
    0,
    0,
    1,
    0,
    0,
    0.5,
    0,
    0.5,
    0,
    100,
    50,
    0,
    1
  );
}

.rotationInitial {
  transform: matrix3d(0, 0, 0, 0, 0 0 0, 0, 0, 0, 0, 0, 0, 0, 0, 0);
}

.htmlScreen iframe {
  width: 1024px;
  height: 670px;
  border: none;
  border-radius: 20px;
  background: #000000;
}
/* 
.animUp {
  animation-name: example-animation;
  animation-timing-function: ease-in-out;
}

@keyframes example-animation {
  0% {
    transform: translateY(200px);
  }

  100% {
    transform: translateY(0);
  }
} */

.animUp-inital {
  transform: translateY(300px);
}

.animUp-animate {
  transform: translateY(0px);
  transition: transform 2s;
}
